@import '../../styles/mixins.scss';

.editFormContainer {
  @include modalWrapper;
}

.editFormOverlay {
  @include modalOverlay;
}

.editForm {
  @include modal;

  gap: 10px;

  width: 450px;
  padding: 25px 35px;
}

.loaderWrapper {
  @include loaderWrapperUnderButton;
}

.loader {
  @include loaderStandart;
}
