@import '../../styles/mixins.scss';

.warningModalWrapper {
  @include modalWrapper;
}

.warningModalOverlay {
  @include modalOverlay;
}

.warningModal {
  @include modal;

  gap: 25px;

  width: 320px;
  padding: 35px 35px;
}

.warningModalText {
  font-size: 20px;
}

.warningModalButtonsWrapper {
  display: flex;
  gap: 10px;
}

.loaderWrapper {
  @include loaderWrapperUnderButton;
}

.loader {
  width: 150px;
}
