@import '../../styles/mixins.scss';

.paper {
  @include paperStandart;
}

.form {
  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;

  width: 350px;
  padding: 25px 30px;
}

.loaderWrapper {
  @include loaderWrapperUnderButton;
}

.loader {
  @include loaderStandart;
}
