.paper {
  width: fit-content;
}

.form {
  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;

  width: 350px;
  padding: 25px 30px;
}

.loaderWrapper {
  position: absolute;
  bottom: 15px;
}

.loader {
  width: 80px;
}
